.classpath
.project
.settings/
*.log
*.log.gz
*.db
*.iml
target/
bin/

.quantumdb
Gemfile.lock
Puppetfile.lock

.tmp/
.librarian/
.vagrant/

modules/apt/
modules/concat/
modules/firewall/
modules/postgresql/
modules/stdlib/
