---
---

$red: #CE1836;
$orange: #F85931;
$yellow: #EDB92E;
$green: #A3A948;
$turquoise: #009989;
$blue: #0072ba;

$colors: ( $red, $orange, $yellow, $green, $turquoise );

html, body {
  margin: 0;
  font-family: Roboto;
}

body {
  padding: 85px 0 0 0;
}

a {
  color: $blue;
}

*[id] {
  padding-top: 120px;
  margin-top: -120px;
}

.navbar {
  padding: 14px;
  border-bottom: 1px solid #eee;
  border-radius: 0;
  background-color: #fff;

  .logo {
    display: inline-block;
    margin: 11px 0px;
    width: 215px;
    font-size: 19px;
    color: #133046;

    img {
      width: 42px;
      height: 42px;
      margin: -4px 0;
    }

    .label {
      background-color: $red;
      font-size: 10px;
      position: relative;
      left: -4px;
      top: -16px;
    }
  }

  .github {
    opacity: 0.1;
    display: inline-block;
    margin-top: 8px;
    float: right;

    &:hover {
      opacity: 0.7;
    }

    img {
      width: 42px;
      height: 42px;
    }
  }

  a {
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
    color: #133046;

    &.item {
      margin-right: 21px;
    }

    &:hover {
      text-decoration: none;
    }

    i {
      font-size: 9px;
      color: #bbb;
    }
  }
}

.btn {
  margin-bottom: 5px;
}

pre.code {
  @extend .terminal;
}

.content {
  margin-top: 34px;
}

.full-width {
  position: absolute;
  width: 100%;
  left: 0;
}

.hero {
  @extend .full-width;
  min-height: 330px;
  padding-top: 48px;
  color: #ffffff;

  background-color: $green;
  background: url("/assets/images/logo.png") 70% 100px, -moz-linear-gradient(-45deg, $green 0%, $blue 100%);
  background: url("/assets/images/logo.png") 70% 100px, -webkit-linear-gradient(-45deg, $green 0%,$blue 100%);
  background: url("/assets/images/logo.png") 70% 100px, linear-gradient(135deg, $green 0%,$blue 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='{$green}', endColorstr='{$blue}',GradientType=1 );
  background-repeat: no-repeat;

  h1, h3 {
    margin: 0px;
    padding: 0px;
    font-weight: 100;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.33);
  }

  h1 {
    font-size: 60px;
    font-weight: 500;
  }
}

img.changelog-image {
  width: 100%;
}

section {
  margin-bottom: 48px;

  h1, h2 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 9px;
    margin-bottom: 18px;
  }

  h3, h4, h5, h6 {
    margin-top: 32px;
  }
}

pre {
  margin-bottom: 24px;

  &.terminal {
    background-color: #2b2b2b;
    color: #f8f8f8;

    .green {
      color: #00B400;
    }
  }
}

.docs-sidebar {
  top: 140px;
  position: fixed;
  padding-right: 9px;

  $numberOfColors: length($colors);
  @for $i from 1 through $numberOfColors {
    ul li:nth-child(#{$numberOfColors}n+#{$i}) {
      a {
        border-left: 3px solid rgba(nth($colors, $i), 0.1);
      }

      &:hover {
        a {
          border-left: 3px solid nth($colors, $i);
        }
      }

      &.in-viewport {
        a {
          border-left: 3px solid nth($colors, $i);
        }
      }
    }
  }
}
